@{
    ViewBag.Title = "About";
}
<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <datalist>llllllll</datalist>
</div>

<p>Use this area to provide additional information.</p>
<script src="~/Scripts/jquery.dataTables.min.js"></script>